#menu ul {
    list-style: none;
}
#menu .sembarra {
	border-left-color: white;
}
#menu li {
	border-left: 2px solid black;
	margin-left: 5px;
	padding-left: 10px;
	
	display: inline;
	/* Duas linha abaixo, ver; http://stackoverflow.com/questions/6544852/#comment18269482_6545033 */ 
	*zoom: 1;
}
#menu a {
	font-weight: bold;
	text-decoration: none;
	color: #0099FF;
}
#menu a:hover {
	text-decoration: underline;
}