/* http://www.cssstickyfooter.com */
* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
}

.stickyFooterWrapper {
	min-height: 100%;
}

.portal-conteudo {
	overflow: auto;
	padding-bottom: 180px;
} /* must be same height as the footer */

.portal-footer {
	position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear: both;
}

/* stickyfooter Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}

.portal-header>div,.portal-footer>div {
	width: 100%;
	height: 170px;
    background-image: url('../../img/skyline.png'); /* caminho em relacao aa pasta `/static/css` */
    background-repeat: no-repeat;
    background-size: cover;
}